/*universal styles*/
html{
  height: 100%;
}
body {
  transition: background-color .5s;
  overflow-x: hidden;
  background: honeydew;
}
main{
  font-family: "Verdana", "Calibri", "Arial", sans-serif;
  line-height: 1.6rem;
}
#banner{
  position: fixed;
  top: 0;
  height: 3.5rem;
  width: 100%;
  z-index: 20;
  background:grey;
  /* opacity: 0.8;
  filter: alpha(opacity=80); */
}
#logo_containter{
background: pink;
}
#nav_container{
background:grey;
}
#djb_logo{
  position: relative;
  bottom: 1.5rem;
  height: 13rem;
  width: 13rem;
  z-index: 13;
}
/*NAV*/
#banner li{
  float: left;
  width: 16.6%;
}
#banner li a{
    position: relative;
    display: block;
    color: #595959;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#banner li a:hover{
  color:#000000;
}
/*nav hover-underline effect*/
#banner a:after{
content: '';
position: absolute;
height: 0.125rem;
width: 0;
left: 50%;
bottom: -0.5rem;
opacity: 0;
background-color: #ff002a;
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
-webkit-transform: translate(-50%, 0);
-moz-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
-o-transform: translate(-50%, 0);
transform: translate(-50%, 0);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
visibility: hidden;
}
#banner a:hover:after{
width: 80%;
visibility: visible;
opacity: 1;
}
#active_underline a:after{
width: 80%;
visibility: visible;
opacity: 1;
background-color: white;
}
/*END-nav hover-underline effect*/
#bar_container button{
  outline: none;
}
/*END-NAV*/
/*JUMBO*/
#jumbo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 50%;
  margin: 1rem auto;
  outline: 1px solid green;
  background-image: url("../images/djb_1.png");
  background-position: top;
  background-size: cover;
}
#slider_containter{
  position: relative;
  top: 30%;
}
#watchword_banner{
  max-width: 80%;
}
