/**backBoneCSS - universal styles**/
// (#1.0) global styles
html {
  height: 100%; //jumbo height to whole landing page
}
body {
  overflow-x: hidden;
}
.my-wrapper {
  position: relative;
  font-family: $mainFont;
  line-height: 1.6rem;
  background: $mainColor;
  z-index: 5;
}
.my-container {
  position: relative;
  min-height: 20rem;
}
// (#1.0) END-global styles
// (#2.0) Box - dispaly default
.b-box {
  display: block;
}
.ib-box {
  display: inline-block;
}
// (#2.0) END-Box - dispaly default
// (#2.1) Box - Flex
.f-box {
  @include flexbox;
}
// (#2.1) END-Box - Flex
// (#2.2) CSS Grid Layout
.g-box {
  @include display-grid;
}
// (#2.2) END-CSS Grid Layout

// misc
.orange {
  color: $DJorange;
}
