.my-container__gallery {
  position: relative;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  $img_short: 100px;
  $img_longer: 150px;
  img {
    height: $img_short;
    width: $img_longer;
    margin: 0.25rem;
    box-shadow: $shadowBlack;
  }
  .vertical {
    height: $img_longer;
    width: $img_short;
  }
}
