// collor palette
$mainColor: #fff;
$DJorange: #ff8c00;
$compColor: #0078b4;
// global font
$mainFont: "Raleway", "Verdana", "Calibri", "Arial", sans-serif;
$mainHeader: "Montserrat Alternates", "Verdana", "Calibri", "Arial", sans-serif;

///misc
$mySidenavColor: black;
$shadowBlack: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
