// Main scss
// (+) _mobilenav.scss
// (0.0) *overlay filters*
.isActiveJS {
  display: block;
}
.filters {
  // display: none;
  &__blacked {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0;
    // filter: alpha(opacity=0);
    @include transition(all 0.3s);
    z-index: 30;
  }
  &__preloader {
    // g-box
    visibility: hidden; //temp - hidden preloader!!
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (1, 1fr);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 90;
    .preloader__logo {
      grid-column: 1 / 3;
      grid-row: 1 / 1;
      place-self: center;
      z-index: 95;
      img {
        height: 15rem;
        height: 15rem;
      }
    }
    .preloader__spinner {
      grid-column: 1 / 3;
      grid-row: 1 / 1;
      place-self: center;
      svg {
        height: 30rem;
        width: 30rem;
        @include respond-above(md) {
          height: 40rem;
          width: 40rem;
        }
      }
      // outline: navy 2px solid;
    }
  }
}
// (0.0) END-overlay filters
// (1.0) JUMBO
.my-container--jumbo {
  height: 100vh;
  overflow: hidden;
  .mainNav {
    // g-box
    position: fixed;
    width: 100%;
    min-height: 4rem;
    grid-template-columns: 30% 70%;
    @include respond-above(md) {
      border-bottom: 1px solid $DJorange;
      background: #fff;
    }
    font-family: $mainHeader;
    // box-shadow: $shadowBlack; onscroll
    z-index: 30;
    &__logo {
      position: relative;
      z-index: 35;
      // grid-column: 1 / 1;
      & img {
        $logoHeight: 8rem;
        $coverImg: 0.25rem;
        position: absolute;
        top: $coverImg;
        height: $logoHeight / 1.5;
        padding-left: $coverImg;
        @include respond-above(md) {
          height: $logoHeight;
        }
      }
    }
    &__links {
      // grid-column: 2 / 2;
      & .linker {
        // g-box
        grid-template-columns: repeat(6, 1fr) 0.125fr;
        grid-gap: 2rem;
        & a {
          position: relative;
          top: 1rem;
          padding: 1rem 0rem;
          color: #000;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          @include transition(all 0.3s);
        }
        & a:hover,
        .is-activeLink a {
          color: $DJorange;
        }
        /*nav hover-underline effect*/
        & a:after {
          content: "";
          position: absolute;
          height: 0.125rem;
          width: 0;
          left: 50%;
          bottom: -0.125rem;
          opacity: 0;
          background-color: $DJorange;
          @include transition(all 0.3s);
          @include transform(translate(-50%, 0));
          @include backface-visibility(hidden);
          visibility: hidden;
        }
        & a:hover:after {
          width: 90%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
    /*END nav-hover-underline effect*/
  }
  .hero {
    // f-box
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    $bannerHeight: 8rem;
    $bannerWidth: 36rem;
    &__image {
      position: absolute;
      top: 5rem;
      align-self: center;
      overflow: hidden;
      z-index: 15;
      img {
        height: 100%;
        width: auto;
      }
    }
    &__blur {
      position: absolute;
      bottom: 5%;
      height: $bannerHeight;
      width: $bannerWidth;
      border: 2px solid white;
      border-radius: 5rem;
      // background-color: rgba(0, 0, 0, 0.3);
      @include filter(blur(0px));
      box-shadow: $shadowBlack;
      overflow: hidden;
      z-index: 20;
      .blur__video {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__banner {
      position: absolute;
      bottom: 5%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: $bannerHeight;
      width: $bannerWidth;
      // outline: 1px solid red;
      z-index: 25;
      p {
        display: none;
        font-size: 5rem;
        font-family: $mainFont;
        text-align: center;
        color: white;
        z-index: 25;
        .long {
          font-size: 4.1rem;
        }
      }
    }
  }
  .jumbo__anime {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .anime__header {
      position: relative;
      top: 50%;
      left: 5rem;
      z-index: 25;
    }
    .anime__container {
      grid-template-columns: repeat(10, auto);
      z-index: 10;
      span {
        height: 100vh;
        background-color: white;
        @include transition(background-color 1s);
      }
    }
  }
}
// (1.0) END-JUMBO
// (2.0)
.my-container__greetings {
  // g-box
  min-height: 40rem;
  padding: 5rem;
  text-align: center;
  // background-image: url("../images/bkg2.svg");
  // background-position: 50% 0;
  // background-size: 100% 100vh;
  // background-repeat: no-repeat;
  .greeting_desc {
    @include respond-above(md) {
      width: 90%;
      outline: 1px yellow solid;
    }
    &--header {
      h1 {
        font-family: $mainFont;
        font-size: 3rem;
      }
    }
    &--p {
      font-size: 1.25rem;
    }
  }
}
// END-(2.0)
// (3.0)
.my-container__mainFeatures {
  .split2Sides {
    // g-box
    height: 80vh;
    width: 100%;
    position: relative;
    border-width: 2px 0px;
    border-style: solid;
    border-color: $mainColor;
    // border-radius: 5rem;
    box-shadow: $shadowBlack;
    // @include respond-above(md) {
    grid-template-columns: repeat (10, 1fr);
    // }
    overflow: hidden;
    &__videoBox {
      grid-column: 1 / 10;
      & video {
        // width: 120%;
        // height: auto;
        position: absolute;
        right: -20%;
        top: 0;
        z-index: 1;
      }
    }
    &__features {
      grid-column: 6 / 10;
      // g-box
      grid-template-columns: repeat (4, 1fr);
      grid-template-rows: repeat (4, 1fr);
      .features__arrows {
        grid-column: 4 / 4;
        grid-row: 1 / 4;
        overflow: hidden;
        align-self: center;
        justify-self: end;
        z-index: 5;
        img {
          height: 80vh;
          width: 100%;
          @include respond-above(md) {
            height: 80vh;
            width: auto;
          }
        }
      }
    }
  }
}
// (4.0)
.my-container__comments {
  // f-box
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    padding: 1rem;
  }
  .comments__box {
    // f-box
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    // width: auto;
    max-width: 40rem;
    $commentFontSize: 2.5rem;
    font-size: $commentFontSize;
    cursor: pointer;
    // background: yellow;
    p {
      padding: 1rem;
      text-align: center;
      font-style: italic;
      line-height: $commentFontSize;
    }
  }
}
// END-(4.0)
// (5.0)
.my-container__promo {
  // f-box
  position: relative;
  height: 70vh;
  width: 100%;
  @include respond-above(md) {
    height: 90vh;
  }
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 2px 0px;
  border-style: solid;
  border-color: $mainColor;
  box-shadow: $shadowBlack;
  overflow: hidden;
  // video class change??
  .promo__blur {
    position: absolute;
    height: 100%;
    width: 100%;
    @include respond-above(md) {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    z-index: 5;
  }
  .promo__filter {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 15;
  }
  .promo__header {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    @include transform(translate(-50%, -50%));
    // transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    $header_size: 2rem;
    @include respond-above(md) {
      height: $header_size * 3;
    }
    height: $header_size * 2.5;
    border: 2px solid $mainColor;
    border-radius: 1rem;
    z-index: 25;
    & h2 a {
      padding: 2rem;
      color: $mainColor;
      font-style: $mainFont;
      font-style: italic;
      font-size: $header_size;
      text-align: justify;
      text-decoration: none;
    }
  }
  // .promo__clip video {
  //   height: 90vh;
  //   width: 100%;
  //   z-index: 20;
  // }
}
// END-(5.0)
// (6.0)
.my-container__footer {
  // f-box
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  min-height: 40rem;
  background-image: url("../images/bkg_darkFLIP.jpg");
  background-size: cover;
  background-position: center;
  hr {
    width: 50rem;
    border: 1px solid $DJorange;
  }
  .footer__banner {
    padding: 2rem;
    overflow: hidden;
  }
  .footer__brandSlider {
    box-shadow: $shadowWhite;
    .slider {
      // flex-direction: row;
      // align-items: center;
      // justify-content: center;
      .slide {
        img {
          height: 8rem;
          width: 18rem;
          padding: 0rem 0.5rem;
        }
        .brand--small {
          // max-height: 5rem;
          // outline: 2px solid red;
          // margin: auto 0rem;
          img {
            // height: 5rem;
          }
        }
      }
    }
  }
  .footer__social {
    & img {
      height: 5rem;
      width: 5rem;
      margin: 1rem;
      @include respond-above(md) {
        margin: 3rem 2rem;
      }

      // outline: yellow 2px solid;
    }
  }
  .footer__address {
    // f-box
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p,
    a {
      color: $mainColor;
      text-decoration: none;
    }
  }
}
// END-(6.0)
