#blacked {
  // display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  // filter: alpha(opacity=0);
  @include transition(all 0.3s);
  z-index: 25;
}
/*JUMBO*/
#jumbo {
  height: 100vh;
  background-image: url("../images/djb_1.png");
  background-position: 50% 8rem;
  background-size: contain;
  background-repeat: no-repeat;
  .mainNav {
    // g-box
    position: fixed;
    // top: 0;
    width: 100%;
    grid-template-columns: 30% 70%;
    z-index: 40;
    &__logo {
      position: relative;
      grid-column: 1 / 1;
      & img {
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
        height: 8rem;
      }
    }
    &__links {
      grid-column: 2 / 2;
      & .linker {
        // g-box
        grid-template-columns: repeat(6, 1fr) 0.125fr;
        grid-gap: 2rem;
        & a {
          position: relative;
          top: 1rem;
          padding: 1rem 0rem;
          color: #000;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          @include transition(all 0.3s);
        }
        & a:hover,
        .is-activeLink a {
          color: $DJorange;
        }
        /*nav hover-underline effect*/
        & a:after {
          content: "";
          position: absolute;
          height: 0.125rem;
          width: 0;
          left: 50%;
          bottom: -0.125rem;
          opacity: 0;
          background-color: $DJorange;
          @include transition(all 0.3s);
          @include transform(translate(-50%, 0));
          @include backface-visibility(hidden);
          visibility: hidden;
        }
        & a:hover:after {
          width: 90%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
    /*END nav-hover-underline effect*/
  }
}
// END-JUMBO
